<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Komora Podcast - Młodzież, pasja, kontrowersja</title>
    <link type="text/css" rel="stylesheet" href="/static/index.css">


    <meta name="title" content="Komora Podcast - Młodzież, pasja, kontrowersja">
    <meta name="description"
          content="Komora Podcast to przestrzeń stworzona z myślą o młodych ludziach, którzy chcą wyrazić swoje zdanie i podzielić się swoimi przemyśleniami.">
    <meta name="keywords"
          content="Podcast dla młodzieży, wolność wypowiedzi, anonimowe rozmowy, dyskusje młodzieżowe, opinie młodych ludzi, rozmowy o codzienności, kontrowersyjne tematy, swobodna dyskusja, Komora Podcast, Esport.casa, wyrażanie opinii, autentyczne rozmowy, podcast społeczny, tematy bliskie młodym, przestrzeń dla młodych, aktywizacja młodzieży">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Julian Jaros">


    <meta property="og:title" content="Komora Podcast - Młodzież, pasja, kontrowersja">
    <meta property="og:site_name" content="Komora Podcast">
    <meta property="og:url" content="https://komorapodcast.online">
    <meta property="og:description" content="Komora Podcast to przestrzeń stworzona z myślą o młodych ludziach, którzy
          chcą wyrazić swoje zdanie i podzielić się przemyśleniami na tematy, które ich naprawdę interesują. Nasz
          projekt ma na celu aktywizację młodzieży, oferując im możliwość swobodnej, szczerej i anonimowej rozmowy.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
</head>
<body>

<div class="main">

    <section id="about">
        <h1 class="komora_title">Komora Podcast</h1>
        <div class="urls">
            <a class="spotify" href="https://open.spotify.com/show/0uP8T1wSUesTfc0ScW3wau" rel="noreferrer noopener">
                <img class="platform_logo" src="/static/Spotify_Primary_Logo_RGB_Green.webp" alt="Spotify Logo Green">
                Posłuchaj Komora Podcast w Spotify
            </a>
            <a class="youtube" href="https://youtube.com/playlist?list=PLZyIZjSOMDt8CN6j27dO-sK1lw2lhRFTX&si=jQji5oHWDHa1esHE"
               rel="noreferrer noopener">
                <img class="platform_logo" src="/static/yt_icon_rgb.webp" alt="Youtube Logo Red">
                Posłuchaj Komora Podcast w Youtube
            </a>
        </div>

        <p>Komora Podcast to przestrzeń stworzona z myślą o młodych ludziach, którzy chcą wyrazić swoje zdanie i
            podzielić się przemyśleniami na tematy, które ich naprawdę interesują. Nasz projekt ma na celu aktywizację
            młodzieży, oferując im możliwość swobodnej, szczerej i anonimowej rozmowy.<br><br>

            Czym wyróżnia się Komora? Jesteśmy bezpośredni, kontrowersyjni, a przede wszystkim autentyczni. To
            miejsce, gdzie młodzi ludzie mogą mówić o tym, co myślą i czują, bez obaw o ocenę. Każdy odcinek poświęcony
            jest tematowi, który rezonuje z naszym gościem – zagadnieniu bliskiemu jego codziennemu życiu i
            doświadczeniom.<br><br>

            Naszym celem jest otwieranie rozmów, które mają znaczenie, w sposób, który jest prawdziwy, inspirujący i
            angażujący. Jeśli szukasz przestrzeni w której możesz posłuchać szczerych, kontrowersyjnych (i chamskich!)
            dyskusji, Komora Podcast jest dla Ciebie.
        </p>
        <p>Komora Podcast jest częścią projektu PodCasTy - tworzonego przez zespół esport.casa</p>
    </section>

    <section id="episodes">
        <div>
            <p class="ep_title">Życie technika, między teorią a praktyką</p>
            <span class="ep_num">Odcinek 0</span>
            <a href="https://open.spotify.com/episode/5894qzPFqPVmLPdhfzU3Kz" rel="noreferrer noopener">
                <img class="platform_logo" src="/static/Spotify_Primary_Logo_RGB_Green.webp" alt="Spotify Logo Green">
                Odsłuchaj odcinek w Spotify
            </a>
            <a href="https://youtu.be/VKc33A-j6UI?list=PLZyIZjSOMDt8CN6j27dO-sK1lw2lhRFTX"
               rel="noreferrer noopener">
                <img class="platform_logo" src="/static/yt_icon_rgb.webp" alt="Youtube Logo Red">
                Odsłuchaj odcinek w Youtube
            </a>
            <p class="ep_desc">
                W odcinku zerowym Komora Podcast, rozmawialiśmy z Tomkiem i Aleksandrem na tematy związane z życiem
                ucznia w technikum - konkretniej na profilu technik informatyk.
                Poznaliśmy zdanie naszych rozmówców na tematy związane z nauką, stereotypami w szkole średniej.
                Porównaliśmy również rodzaje szkół średnich i to, jak odbierane są w społeczeństwie.
            </p>

        </div>
    </section>

    <!--
    <section id="information">
        <h1>Informacje</h1>
        <p>Treści prezentowane w Komora Podcast odzwierciedlają wyłącznie opinie i poglądy gości oraz uczestników
            rozmów. Ani organizacja esport.casa, ani prowadzący podcast nie identyfikują się z wyrażanymi w trakcie
            odcinków opiniami, stanowiskami czy poglądami.

            Podcast ma na celu stworzenie przestrzeni do swobodnej dyskusji i wymiany myśli, jednak wyrażane w nim
            treści mogą być kontrowersyjne lub budzić różne reakcje. Organizacja esport.casa nie ponosi
            odpowiedzialności za konsekwencje wynikające z interpretacji czy odbioru tych materiałów.

            Komora Podcast to projekt niezależny, który wspiera wolność wypowiedzi i różnorodność perspektyw, lecz jego
            zawartość nie powinna być utożsamiana z oficjalnym stanowiskiem organizatorów.</p>
    </section>

    <footer id="footer">
        <p>Strona stworzona przez <a href="https://julianjaros.pl" rel="noreferrer noopener">Juliana</a> dla Komora
            Podcast & <a href="https://esport.casa" rel="noreferrer noopener">esport.casa</a></p>
    </footer>
-->
</div>

</body>
</html>

