<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Komora Podcast - Młodzież, pasja, kontrowersja</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    <script defer src="/static/index.js"></script>


    <meta name="title" content="Komora Podcast - Młodzież, pasja, kontrowersja">
    <meta name="description"
          content="Komora Podcast to przestrzeń stworzona z myślą o młodych ludziach, którzy chcą wyrazić swoje zdanie i podzielić się swoimi przemyśleniami.">
    <meta name="keywords"
          content="Podcast dla młodzieży, wolność wypowiedzi, anonimowe rozmowy, dyskusje młodzieżowe, opinie młodych ludzi, rozmowy o codzienności, kontrowersyjne tematy, swobodna dyskusja, Komora Podcast, Esport.casa, wyrażanie opinii, autentyczne rozmowy, podcast społeczny, tematy bliskie młodym, przestrzeń dla młodych, aktywizacja młodzieży">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Julian Jaros">


    <meta property="og:title" content="Komora Podcast - Młodzież, pasja, kontrowersja">
    <meta property="og:site_name" content="Komora Podcast">
    <meta property="og:url" content="https://komorapodcast.online">
    <meta property="og:description" content="Komora Podcast to przestrzeń stworzona z myślą o młodych ludziach, którzy
          chcą wyrazić swoje zdanie i podzielić się przemyśleniami na tematy, które ich naprawdę interesują. Nasz
          projekt ma na celu aktywizację młodzieży, oferując im możliwość swobodnej, szczerej i anonimowej rozmowy.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
</head>
<body>

<div class="container-fluid gx-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand komora_title" href="/">Komora Podcast</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#about">O projekcie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#episodes">Odcinki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#information">Informacje</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="col-lg-12" id="about">
        <h1 class="komora_title">Komora Podcast</h1>
        <div class="urls">
            <a class="spotify episode_url_style" href="https://open.spotify.com/show/0uP8T1wSUesTfc0ScW3wau"
               rel="noreferrer noopener" target="_blank">
                <img class="platform_logo" src="/static/Spotify_Primary_Logo_RGB_Green.webp" alt="Spotify Logo Green">
                Posłuchaj Komora Podcast w Spotify
            </a>
            <a class="youtube episode_url_style"
               href="https://youtube.com/playlist?list=PLZyIZjSOMDt8CN6j27dO-sK1lw2lhRFTX&si=jQji5oHWDHa1esHE"
               rel="noreferrer noopener" target="_blank">
                <img class="platform_logo" src="/static/yt_icon_rgb.webp" alt="Youtube Logo Red">
                Posłuchaj Komora Podcast w Youtube
            </a>
        </div>

        <p><span class="komora_title">Komora Podcast</span> to przestrzeń stworzona z myślą o młodych ludziach, którzy
            chcą wyrazić swoje zdanie i
            podzielić się przemyśleniami na tematy, które ich naprawdę interesują. Nasz projekt ma na celu aktywizację
            młodzieży, oferując im możliwość swobodnej, szczerej i anonimowej rozmowy.<br><br>

            Czym wyróżnia się <span class="komora_title">Komora Podcast</span>? Jesteśmy bezpośredni, kontrowersyjni, a
            przede wszystkim autentyczni. To
            miejsce, gdzie młodzi ludzie mogą mówić o tym, co myślą i czują, bez obaw o ocenę. Każdy odcinek poświęcony
            jest tematowi, który rezonuje z naszym gościem – zagadnieniu bliskiemu jego codziennemu życiu i
            doświadczeniom.<br><br>

            Naszym celem jest otwieranie rozmów, które mają znaczenie, w sposób, który jest prawdziwy, inspirujący i
            angażujący. Jeśli szukasz przestrzeni w której możesz posłuchać szczerych, kontrowersyjnych (i chamskich!)
            dyskusji, Komora Podcast jest dla Ciebie.
        </p>
        <p class="ec_ad"><span class="komora_title">Komora Podcast</span> jest częścią projektu PodCasTy - tworzonego
            przez zespół <a
                    href="https://esport.casa" rel="noreferrer noopener" target="_blank">esport.casa</a></p>
    </section>


    <section class="col-lg-12" id="episodes">
        <h2>Odcinki</h2>

        <div class="episodes_holder">
            <div class="episode">
                <p class="ep_title">Życie technika, między teorią a praktyką • <span class="ep_num">Odcinek #1</span>
                </p>
                <a class="spotify episode_url_style" href="https://open.spotify.com/episode/5894qzPFqPVmLPdhfzU3Kz"
                   rel="noreferrer noopener" target="_blank">
                    <img class="platform_logo" src="/static/Spotify_Primary_Logo_RGB_Green.webp"
                         alt="Spotify Logo Green">
                    Odsłuchaj
                </a>
                <a class="youtube episode_url_style"
                   href="https://youtu.be/VKc33A-j6UI?list=PLZyIZjSOMDt8CN6j27dO-sK1lw2lhRFTX"
                   rel="noreferrer noopener" target="_blank">
                    <img class="platform_logo" src="/static/yt_icon_rgb.webp" alt="Youtube Logo Red">
                    Odsłuchaj
                </a>
                <p class="ep_desc">
                    W odcinku zerowym (pierwszym) Komora Podcast, rozmawialiśmy z Tomkiem i Aleksandrem na tematy
                    związane z życiem
                    ucznia w technikum - konkretniej na profilu technik informatyk.
                    Poznaliśmy zdanie naszych rozmówców na tematy związane z nauką, stereotypami w szkole średniej.
                    Porównaliśmy również rodzaje szkół średnich i to, jak odbierane są w społeczeństwie.
                </p>
            </div>

            <div class="episode">
                <p class="ep_title">Generacja Z w Biznesie: Jak Młodzi Zarabiają w XXI Wieku • <span class="ep_num">Odcinek #2</span>
                </p>
                <a class="spotify episode_url_style soon" href=""
                   rel="noreferrer noopener" target="_blank">
                    <img class="platform_logo" src="/static/Spotify_Primary_Logo_RGB_Green.webp"
                         alt="Spotify Logo Green">
                    Wkrótce dostępne
                </a>
                <a class="youtube episode_url_style soon"
                   href=""
                   rel="noreferrer noopener" target="_blank">
                    <img class="platform_logo" src="/static/yt_icon_rgb.webp" alt="Youtube Logo Red">
                    Wkrótce dostępne
                </a>
                <p class="ep_desc">
                    Premiera już niedługo!
                </p>
            </div>

            <div class="episode">
                <p class="ep_title">Pokolenie Z na Wiejskiej: Czy Młodzi Zmienią Polskę? • <span class="ep_num">Odcinek #3</span>
                </p>
                <a class="spotify episode_url_style soon">
                    <img class="platform_logo" src="/static/Spotify_Primary_Logo_RGB_Green.webp"
                         alt="Spotify Logo Green">
                    Wkrótce dostępne
                </a>
                <a class="youtube episode_url_style soon">
                    <img class="platform_logo" src="/static/yt_icon_rgb.webp" alt="Youtube Logo Red">
                    Wkrótce dostępne
                </a>
                <p class="ep_desc">
                    Premiera już niedługo!
                </p>
            </div>
        </div>
    </section>

    <section class="col-lg-12" id="information">
        <h1>Informacje</h1>
        <span class="komora_title">Odpowiedzialność</span>
        <p>Treści prezentowane w Komora Podcast odzwierciedlają wyłącznie opinie i poglądy gości oraz uczestników
            rozmów. Ani organizacja esport.casa, ani prowadzący podcast nie identyfikują się z wyrażanymi w trakcie
            odcinków opiniami, stanowiskami czy poglądami.<br><br>

            Podcast ma na celu stworzenie przestrzeni do swobodnej dyskusji i wymiany myśli, jednak wyrażane w nim
            treści mogą być kontrowersyjne lub budzić różne reakcje. Organizacja esport.casa nie ponosi
            odpowiedzialności za konsekwencje wynikające z interpretacji czy odbioru tych materiałów.<br><br>

            Komora Podcast to projekt, który wspiera wolność wypowiedzi i różnorodność perspektyw, lecz jego
            zawartość nie powinna być utożsamiana z oficjalnym stanowiskiem twórców i prowadzących.</p>
    </section>

    <footer id="footer">
        <p>Strona stworzona przez <a href="https://julianjaros.pl" rel="noreferrer noopener" target="_blank">Juliana</a>
            dla Komora
            Podcast & <a href="https://esport.casa" rel="noreferrer noopener" target="_blank">esport.casa</a></p>
    </footer>
</div>


</body>
</html>